<!DOCTYPE html>
<html>
<head>
  <title>MailClient</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="error"><%= flash[:alert] %></p>
  <% end %>
<%= yield %>

</body>
</html>
